doctype html
html(lang='cs')
    head
        include head.pug
    body(ontouchstart)
        a(href='#main') Jít k hlavnímu obsahu
        block content
        script(src='./js/app.min.js')
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-127056048-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-127056048-1');
        script.
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '322810778496188');
            fbq('track', 'PageView');
        noscript
            img(height='1', width='1', src='https://www.facebook.com/tr?id=322810778496188&ev=PageView&noscript=1')