extends includes/layout.pug
block content
    main(id='main')
        section.content
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        .logo-art.logo-art--author
                            .logo-art__wrap.logo-art__wrap--logo.logo-art__wrap--small
                                img.logo-art__img.logo-art__img--small(src='./img/logo-art.png', alt='Slast')
                                .logo-art__stripe.logo-art__stripe--small
                                    h1.sr-only Slast
                                    | art.
                            .logo-art__content
                                .logo-art__left
                                    .logo-art__name Jméno díla
                                    p.logo-art__price Cena: 45 000 Kč
                                    a(href='#').logo-art__button Koupit
                                .logo-art__right
                                    p.content__paragraph
                                        | Autor: 
                                        a(href='/art/hana-hrusova') Hana Hrušová
                                        br
                                        | Vystavující ve Slasti: listopad 2018 – květen 2019
                                        br
                                        | Stav díla: Volné
                                    p.content__price Cena: 12.000 Kč
                                    h2.content__heading Mám zájem o dílo
                                    .form-order
                                        #p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz
                                            #p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_pM_pMP
                                            #p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_pnlForm.FormPanel(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_btnOK')")
                                                div(style='display:none')
                                                    label#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Art_lb.EditingFormLabel(for='p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Art_txtText') Dílo:
                                                    #p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_ncpart.EditingFormControlNestedControl.editing-form-control-nested-control
                                                        input#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Art_txtText.form-control(name='p$lt$ctl00$pageplaceholder$p$lt$WebPartZone1$ZoneA$wD$viewBiz$Art$txtText', type='text', value='https://www.slast.bar/art/hana-hrusova/lotosovy-kvet', maxlength='200', style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;')
                                                label#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Name_lb.EditingFormLabel(for='p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Name_txtText') Jméno a příjmení:
                                                #p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_ncpname.EditingFormControlNestedControl.editing-form-control-nested-control
                                                    input#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Name_txtText.form-control(name='p$lt$ctl00$pageplaceholder$p$lt$WebPartZone1$ZoneA$wD$viewBiz$Name$txtText', type='text', maxlength='200')
                                                label#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Phone_lb.EditingFormLabel(for='p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Phone_txtText') Tel. číslo:
                                                #p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_ncpphone.EditingFormControlNestedControl.editing-form-control-nested-control
                                                    input#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Phone_txtText.form-control(name='p$lt$ctl00$pageplaceholder$p$lt$WebPartZone1$ZoneA$wD$viewBiz$Phone$txtText', type='text', maxlength='200')
                                                label#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Email_lb.EditingFormLabel(for='p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Email_txtText') E-mail:
                                                #p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_ncpemail.EditingFormControlNestedControl.editing-form-control-nested-control
                                                    input#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Email_txtText.form-control(name='p$lt$ctl00$pageplaceholder$p$lt$WebPartZone1$ZoneA$wD$viewBiz$Email$txtText', type='text', maxlength='200')
                                                label#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Note_lb.EditingFormLabel(for='p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Note_txtText') Poznámka:
                                                #p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_ncpnote.EditingFormControlNestedControl.editing-form-control-nested-control
                                                    textarea#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_Note_txtText.form-control(name='p$lt$ctl00$pageplaceholder$p$lt$WebPartZone1$ZoneA$wD$viewBiz$Note$txtText', rows='2', cols='20')
                                                .f-checkbox
                                                    #p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_ncposobniudaje.EditingFormControlNestedControl.editing-form-control-nested-control
                                                        span.CheckBoxField.checkbox
                                                            input#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_OsobniUdaje_checkbox(type='checkbox', name='p$lt$ctl00$pageplaceholder$p$lt$WebPartZone1$ZoneA$wD$viewBiz$OsobniUdaje$checkbox')
                                                            label(for='p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_OsobniUdaje_checkbox')  
                                                    label#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_OsobniUdaje_lb.EditingFormLabel(for='p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_OsobniUdaje_checkbox')
                                                        | Souhlasím se 
                                                        a(href='/zpracovani-osobnich-udaju', target='_blank') zpracováním osobních údajů
                                                        | :
                                                input#p_lt_ctl00_pageplaceholder_p_lt_WebPartZone1_ZoneA_wD_viewBiz_btnOK.FormButton.btn.btn-primary(type='submit', name='p$lt$ctl00$pageplaceholder$p$lt$WebPartZone1$ZoneA$wD$viewBiz$btnOK', value='Odeslat')
                //.grid__wrapper
                    .grid__unit.grid__unit--1
                        .list-art.list-art--piece
                            img(src='https://plchldr.co/i/1280x800?&text=Obraz').list-art__picture
                //.grid__wrapper
                    .grid__unit.grid__unit--1.grid__unit
                        h2.content__h2 Další díla autora
                        .list-img
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')


                .footer
                    .grid__wrapper
                        .grid__unit.grid__unit--1
                            .footer__art
                                img.footer__logo(src="./img/logo-red.png")
                                a(href='/') přejít na hlavní web Slasti
                    img.slast(alt='Slast', src='./img/slast-footer.gif')
                    .align-center.footer__wrapper
                        span.footer__text Slast s.r.o., Brno IČO 07219911 / Zelný trh 293/10, Brno-město, PSČ 602 00 / IČO 06177786 / C 106947 vedená u Krajského soudu v Brně 
                        a.footer__link(href='https://www.kentico.com', title='Kentico', rel='nofollow', target='_blank') Powered by Kentico CMS

