extends includes/layout.pug
block content
    main(id='main')
        section.content
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        .logo-art.logo-art--author
                            img.logo-art__bg(src='./img/interior.jpg', alt='Andrej')
                            .logo-art__wrap.logo-art__wrap--logo.logo-art__wrap--small
                                img.logo-art__img.logo-art__img--small(src='./img/logo-art.png', alt='Slast')
                                .logo-art__stripe.logo-art__stripe--small
                                    h1.sr-only Slast
                                    | art.
                            .logo-art__content
                                .logo-art__left
                                    .logo-art__name Jméno díla
                                    p.logo-art__price Cena: 45 000 Kč
                                    a(href='#').logo-art__button Koupit
                                .logo-art__right
                                    p.content__paragraph Autor: 
                                        a(href='#') Hana Linhartová
                                        br
                                        | Vystavující ve Slasti: 11/2019 &ndash; 05/2019
                                    p.content__paragraph Hana vystudovala střední grafickou školuv Jihlavě a odnesla si magisterský titul z ateliéru Malba 2 ak.mal. Martina Mainera na brněnské FaVU. Její pojetí malby je klasické, až archetypální: “Stejně jako je tomu u jeskynních maleb, hovořím i já ve svých malbách jazykem symbolů, nepracuji konceptuálně, spíš zachycuji obrazy, kterých si v každodennosti všimnu, nebo symbolickým způsobem zachytím svůj duševní stav, jako je to například v malbě "tygr”. 
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        .list-art.list-art--piece
                            img(src='https://plchldr.co/i/1280x800?&text=Obraz').list-art__picture
                .grid__wrapper
                    .grid__unit.grid__unit--1.grid__unit
                        h2.content__h2 Další díla autora
                        .list-img
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')
                            a(href='#')
                                img(src='https://plchldr.co/i/320x240?&text=Obraz')
                        
                        
                .footer
                    .grid__wrapper
                        .grid__unit.grid__unit--1
                            .footer__art
                                img.footer__logo(src="./img/logo-red.png")
                                a(href='/') přejít na hlavní web Slasti
                    img.slast(alt='Slast', src='./img/slast-footer.gif')
                    .align-center.footer__wrapper
                        span.footer__text Slast s.r.o., Brno IČO 07219911 / Zelný trh 293/10, Brno-město, PSČ 602 00 / IČO 06177786 / C 106947 vedená u Krajského soudu v Brně 
                        a.footer__link(href='https://www.kentico.com', title='Kentico', rel='nofollow', target='_blank') Powered by Kentico CMS

