extends includes/layout.pug
block content
    main(id='main')
        nav.navigation#navigation
            .navigation__logo
                img(src='./img/logo.png', alt='Slast')
            a(href='#nav').navigation__trigger 
                .sr-only Menu
            ul.navigation__list#nav
                li.navigation__logo-inner
                    img(src='./img/logo-black.png', alt='Slast')
                    span.navigation__close#nav-close
                        .sr-only Zavřít
                li.navigation__item
                    a(href='#koktejl').navigation__link koktejl
                li.navigation__item
                    a(href='#farec').navigation__link farec
                li.navigation__item
                    a(href='#art').navigation__link art
                li.navigation__social
                    ul.social.social--nav.align-center
                        li.social__item
                            a.social__link.social__link--fb(href='https://www.facebook.com/Slast-1191882437603657/', target='_blank')
                            .sr-only Facebook
                        li.social__item
                            a.social__link.social__link--ig(href='https://www.instagram.com/slast.bar/', target='_blank')
                            .sr-only Instagram
        section.heading
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1.grid__unit--sm-2-5.grid__unit--md-1-2
                        img(data-src='./img/neon.jpg', alt='Vstup do Slasti', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==").heading__img
                    .grid__unit.grid__unit--1.grid__unit--sm-3-5.grid__unit--md-1-2.utilities-layer-3
                        .heading__wrapper
                            h1.heading__title 
                                span.heading__title-positioned Svoboda je
                                span.sr-only Slast
                            p.heading__paragraph
                                | Ať už jste o Slasti někdy slyšeli nebo ne – teď budete trochu šokováni. 
                                strong SLAST 1.0 
                                | měla totiž být 
                                i „vibe dining” 
                                | podnik, kde se hoduje u nejvybranějšího jídla a zároveň tančí na stolech. Postupem času nám ale došlo, že se význam slova „slast” na fancy talířky jednoduše nevleze. Proto 
                                strong SLAST 2.0 
                                | – žádná kuchyně, žádné přeleštěné stolky, ale labyrint rozkoší ukrytých v každém koutku inspirativního lounge baru. Koktejl v ruce, farec na stole, art (nejen) na stěně a široko daleko nikdo, kdo by Vám říkal, jak se máte chovat. 
                                strong Enjoy.
                            .grid__wrapper.grid__wrapper--inner
                                .grid__unit.grid__unit--1.grid__unit--sm-2-3
                                    .heading__note-wrapper
                                        a(href='https://www.google.cz/maps/place/Zeln%C3%BD+trh+293%2F10,+602+00+Brno-st%C5%99ed-Brno-m%C4%9Bsto/@49.1920769,16.6055518,17z/data=!3m1!4b1!4m5!3m4!1s0x47129456b40d075d:0x14b17b7c66cefe9b!8m2!3d49.1920769!4d16.6077405', target='_blank').heading__note-link Zelný trh 10
                                        a(href='mailto:rezervace@slast.bar').heading__note-link rezervace@slast.bar
                                        p.heading__note Všechno už dokončujeme!
                                        p.heading__note.heading__note--top-space Chcete zažít Slast jako první? 
                                            a(href='#mail').heading__note-link Nechte nám svůj mail. 
                                .grid__unit.grid__unit--1.grid__unit--sm-1-3
                                    ul.social
                                        li.social__item.social__item--heading
                                            a.social__link.social__link--fb(href='https://www.facebook.com/Slast-1191882437603657/', target='_blank')
                                            .sr-only Facebook
                                        li.social__item.social__item--heading
                                            a.social__link.social__link--ig(href='https://www.instagram.com/slast.bar/', target='_blank')
                                            .sr-only Instagram
        section.content#koktejl
            .grid
                .grid__wrapper.flex-switch
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2
                        .content__wrapper
                            h2.content__h2 koktejl
                            h3.content__h3 Každý má svou SLAST – nikomu neříkáme, co má být ta jeho.
                            p.content__paragraph.content__paragraph--narrow
                                | Koktejly děláme už nějaký ten pátek a umíme je na 1000 způsobů. Teď ale přidáváme 1000+1! Slastný trademark se jmenuje 
                                i „low alko a nealko” 
                                | aneb 
                                i “aby sis to mohl užít, nemusíš být namol”
                                | . Nechceme Vás opít. Chceme, aby Vás zaplavily chutě, které jste ještě nepoznali – a které jdou krásně dohromady třeba s našimi farci. 
                            ul.selection(data-selection='koktejl')
                                li.selection__item
                                    a(href='#koktejly').selection__link Koktejly
                                li.selection__item
                                    a(href='#zazracna').selection__link.selection__link--small-text Zázračná &amp; shruby a fermentáty
                                li.selection__item
                                    a(href='#panaky-pivo-vino').selection__link Panáky &amp; Pivo &amp; Víno
                                li.selection__item
                                    a(href='#cajove-klasiky').selection__link Čajové klasiky
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.relative
                        .content__img.content__img--koktejl
                            img(data-src='./img/drinky.jpg', alt='Drinky', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        section.selected(data-selected='koktejl')
            span.selected__close
                .sr-only Zavřít
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        .selected__content#koktejly
                            h4.selected__heading Zázračné Highbally
                            div.selected__grid-wrapper
                                p.selected__p Osm lehoučce opojných krasavců a krasavic, ideálních třeba k farci. Aby se Vám hlava motala tak akorát!
                            ul.selected__list
                                li.selected__item
                                    i Bittersweet Story
                                    span Kdo by v mandli hledal pecku z medu? Hořkosladké, krásné překvápko!
                                li.selected__item
                                    i Top Fun 
                                    span Topová popina! Liči sladkost, celerová suchost a tequila to rozsekne.
                                li.selected__item
                                    i Mighty McKumquat 
                                    span Citrusové kombo kumkvátu a limetky, vystřelené do stratosféry raketovou vodkou.
                                li.selected__item
                                    i Double B 
                                    span Všechno co je od Bé, je dobré – jako třeba banán a Becher!
                                li.selected__item
                                    i Just Another Morning Coke
                                    span Ranní refresh jak z příručky správného bohéma. Cola, gin a grepová rána pod pás.
                                li.selected__item
                                    i Banana Guerilla 
                                    span Líbivý banánek na rande s latino rumovou krasavicí – a kořeněné finále v džungli.
                                li.selected__item
                                    i Teddy Bear Red Label
                                    span Když na medvídka Pú přijde smutek, přidá si do medu trochu whiskey.
                                li.selected__item
                                    i Merry Peary
                                    span Vánoční sen o hruškovici, co zabloudila do svařáku, a našla tam perník.
                        .selected__content#cajove-klasiky
                            h4.selected__heading Čajové klasiky
                            div.selected__grid-wrapper
                                p.selected__p Ať už bylo po páté, nebo ještě ne – čas na čaj a čas na drink se právě spojily v jeden dokonalý moment. Doporučujeme pro všechny “ladies and gentlemen”!
                            ul.selected__list
                                li.selected__item
                                    i 5 O’Clock Fashioned
                                    span Klasika všech klasik, posílená červeným čajem – jasná a čistá!
                                li.selected__item
                                    i Top of the Bookshelf Manhattan
                                    span Na úplně nejvrchnější poličce nejstarší oxfordské knihovny leží přesně tenhle Manhatan – moudrý whiskový klenot.
                                li.selected__item
                                    i Nepaloni
                                    span Návrat z horolezecké výpravy do Nepálu – trochu hořký, trochu sladký, ale hodně dobrý.
                                li.selected__item
                                    i Choco Fumarita
                                    span Nakouřená čoko variace na mexický národní poklad.
                                li.selected__item
                                    i Speed of Light
                                    span Lehce kyselá, bezová coververze hitu zvaného gimlet.
                                li.selected__item
                                    i Wu-dong Dai-quiri
                                    span Spojení protikladů na téma jin a jang – easy kyselost daiquiri + vypečená čínská čajovost = dokonalost.
                                li.selected__item
                                    i Moroccan Breakfast
                                    span Pramen zdraví, nikoli z Posázaví, ale z Maroka. Podmáslí, máta – a samozřejmě vodka.
                                li.selected__item
                                    i I know What You Did Last Summer
                                    span Vzpomínka na to nejvíc nejlepší léto, zabalená do “špricnutého” zeleného čaje.
                        .selected__content#panaky-pivo-vino
                            h4.selected__heading Panáky &amp; Pivo &amp; víno 
                            div.selected__grid-wrapper
                                p.selected__p Co by byl lounge bar (a vlastně jakýkoli bar!) bez pořádné zásoby panáků? A pořádná zásoba pro nás znamená asi 180 lahví, takže račte vybírat. Doplňujeme excelentním pivkem Chomout a několika pečlivě vybranými vinnými záležitostmi.
                        .selected__content#zazracna
                            h4.selected__heading Zázračná &amp; shruby a fermentáty 
                            div.selected__grid-wrapper
                                p.selected__p Neholdujete alkoholu? Nealko ve Slasti není žádná béčková volba. Masivní výběr z barmanské limonády Zázračná, která se může honosit těmi nejzajímavějšími příchutěmi široko daleko, doplňují naše vlastní shruby a fermentáty.
                            ul.selected__list
                                li.selected__item
                                    i Shruby
                                    ul
                                        li Banán-muškát
                                        li Liči-ibišek
                                        li Dýně-švestka-citronová tráva
                                li.selected__item
                                    i Fermentáty 
                                    ul
                                        li Mango Yun
                                        li Jasmín-pomelo
                                        li Oolong-syrovátka
                                li.selected__item
                                    i Zázračná
                                    span Berlínský pití z Brna, aneb přírodní, lokální a ještě k tomu barmanská, neboli vyráběná mixologickými mistry a mistryněmi.
        section.content.content--farec#farec
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.grid__unit--xl-1-4
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.align-center
                        .content__wrapper
                            img.content__img.content__img--dymka(data-src='./img/dymka.jpg', alt='Ultimátní pohovění', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            .content__layer
                                h2.content__h2 farec
                                h3.content__h3 Guilty pleasure v elegantním balení.
                                p.content__paragraph Opírá se Váš názor na dýmky o 12 let starou zkušenost s ušmudlaným kouřostrojem? Jste ideální Slastný člověk! Přijďte se přesvědčit, že dýmkařské řemeslo jde ohromně dopředu. Čekejte desítky různých designových i hightech dýmek a personál, který Vám pomůže vybrat dýmový zážitek na míru. 
                                ul.selection.selection--center(data-selection='farec')
                                    li.selection__item
                                        a(href='#ukazfarec').selection__link Ukážeme Vám náš farec!
        section.selected(data-selected='farec')
            span.selected__close
                .sr-only Zavřít
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        .selected__content.selected__content--desc#ukazfarec
                            h4.selected__heading farec
                            div.selected__grid-wrapper
                                p.selected__p V Brně je dýmkáren poměrně dost a část z nich nás hodně baví. Zbytek ale jede všechno na jeden způsob. Takže jsme se rozhodli „skočit do ringu“ a pootočit trochu tím naším brněnským kolem. Vidíme v tom určitou paralelu k době, kdy jsme otevírali Bar, který neexistuje. Koktejlové bary samozřejmě existovaly, ale jak široká skupina lidí do nich chodila? A kolik z nás znalo jiný koktejl než Mojito? Vymezili jsme se tenkrát už tím, že jsme začali užívat slovo „drink”. Teď jsme na tom podobně – a naše slovo je “farec”. Takže ať žije farec!
        section.content.content--art#art
            .grid
                .grid__wrapper.flex-switch
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.grid__unit--md-2-5
                        .content__wrapper
                            h2.content__h2 art
                            h3.content__h3 Nekonečno inspirace s sebou.
                            p.content__paragraph Každý má svou slast, a proto i naše SLAST musí být pestrá. Svěřili jsme každou z šesti místností jinému umělci. Jediné zadání bylo: žádné překážky! Jednotlivé „výstavy” budou trvat půl roku, pak se umělci vystřídají s dalšími. A kromě dvou umělecky zpracovaných židlí, které po každém umělci zůstanou jako jeho podpis, si budete všechno ostatní moct koupit domů!
                            ul.selection(data-selection='art')
                                li.selection__item
                                    a(href='#fungovani').selection__link Jak to bude celé fungovat?
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.grid__unit--md-3-5
                        .content__img.content__img--andrej
                            img(data-src='./img/art.jpg', alt='Andrej', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        section.selected(data-selected='art')
            span.selected__close
                .sr-only Zavřít
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        .selected__content.selected__content--desc#fungovani
                            h4.selected__heading art
                            div.selected__grid-wrapper
                                p.selected__p Art do veřejného prostoru patří – a proto patří i do Slasti. Ale patří i k lidem domů, aspoň k těm, co ho vážně milují. Proto Vám chceme dát možnost odnést si kousek slastného artu s sebou. Díla, která budou v jednotlivých místnostech Slasti, budou po skončení výstav určená k dražbě nebo přímému prodeji. Zatím přesně nevíme, jak to celé udělat. Docela nás nadchla myšlenka dlouhodobé online aukce, kde můžete přihazovat na mobilu přes QR kód třeba rovnou při kouření farce. O něco míň sexy variantou je cesta „kup teď”. Jednoduše si svůj art vyhlédnete a rezervujete si ho předem. Ale jak říkáme - je to pro nás nová věc, takže se od Vás rádi necháme inspirovat. Takže pokud máte nějaký nápad/podnět/názor, sem s ním!
        footer.footer
            .grid.grid--footer
                .form#mail
                    .grid__wrapper.grid__wrapper--center-items
                        .grid__unit.grid__unit--1.grid__unit--md-2-3
                                .form__wrapper
                                    h2.form__heading Chcete zažít Slast jako první, 
                                        br
                                        | nebo třeba ochutnat koktejly a farce?
                                    p.form__p Nechte nám tady svůj mail a dozvíte se všechno z první ruky!
                                    .form__panel
                                        label Jméno
                                        input(type="text", placeholder="Jméno")
                                        label Email
                                        input(type="text", placeholder="Email")
                                        .f-checkbox
                                            #p_lt_ctl02_pageplaceholder_p_lt_ctl04_On_lineForm_plcUp_viewBiz_ncposobniudaje.EditingFormControlNestedControl.editing-form-control-nested-control
                                                span.CheckBoxField.checkbox
                                                input#p_lt_ctl02_pageplaceholder_p_lt_ctl04_On_lineForm_plcUp_viewBiz_OsobniUdaje_checkbox(type='checkbox', name='p$lt$ctl02$pageplaceholder$p$lt$ctl04$On_lineForm$plcUp$viewBiz$OsobniUdaje$checkbox')
                                                label(for='p_lt_ctl02_pageplaceholder_p_lt_ctl04_On_lineForm_plcUp_viewBiz_OsobniUdaje_checkbox')  
                                            label#p_lt_ctl02_pageplaceholder_p_lt_ctl04_On_lineForm_plcUp_viewBiz_OsobniUdaje_lb.EditingFormLabel(for='p_lt_ctl02_pageplaceholder_p_lt_ctl04_On_lineForm_plcUp_viewBiz_OsobniUdaje_checkbox')
                                                | Souhlasím se 
                                                a(href='/zpracovani-osobnich-udaju', target='_blank') zpracováním osobních údajů
                                        input(type="submit", value="Odeslat")
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        ul.logos     
                            li.logos__item
                                a.logos__link.logos__link--bar(href='http://www.barkteryneexistuje.cz/', target='_blank')
                                .sr-only Bar, který neexistuje
                            li.logos__item
                                a.logos__link.logos__link--zazracna(href='https://www.zazracna.cz/', target='_blank')
                                .sr-only Zázračná
                            li.logos__item
                                a.logos__link.logos__link--panda(href='http://superpandacircus.cz/', target='_blank')
                                .sr-only Super panda circus
                            li.logos__item
                                a.logos__link.logos__link--uplne-vsude(href='http://uplnevsude.cz/', target='_blank')
                                .sr-only Úplně všude
                            li.logos__item
                                a.logos__link.logos__link--nepiju-brecky(href='http://www.nepijubrecky.cz/', target='_blank')
                                .sr-only Nepiju břečky
                            li.logos__item
                                a.logos__link.logos__link--na-brno-dobry(href='https://www.instagram.com/na_brno_dobry/', target='_blank')
                                .sr-only Na Brno dobrý
                            li.logos__item
                                a.logos__link.logos__link--mluvici-hlavy(href='https://www.mluvicihlavy.cz/', target='_blank')
                                .sr-only Mluvící hlavy
                            li.logos__item
                                a.logos__link.logos__link--turbomost(href='https://www.turbomost.cz/', target='_blank')
                                .sr-only Turbomošt        
                            li.logos__item
                                a.logos__link.logos__link--lidi(href='https://lidizbaru.cz/', target='_blank')
                                .sr-only Lidi z baru
                            li.logos__item
                                a.logos__link.logos__link--pokoje(href='https://www.miluju4pokoje.cz/', target='_blank')
                                .sr-only 4pokoje
                            li.logos__item
                                a.logos__link.logos__link--whiskey(href='https://www.facebook.com/whiskey.bar.kteryneexistuje/', target='_blank')
                                .sr-only Whiskey Bar, který neexistuje
            .grid__wrapper
                .grid__unit.grid__unit--1.grid__unit.grid__unit--sm-1-3
                    img.footer__logo(data-src='./img/logo-red.png', alt='Slast', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                .grid__unit.grid__unit--1.grid__unit.grid__unit--sm-2-3
                    ul.navigation__list.navigation__list--footer
                        li.navigation__item
                            a(href='#koktejl').navigation__link koktejl
                        li.navigation__item
                            a(href='#farec').navigation__link farec
                        li.navigation__item
                            a(href='#art').navigation__link art
                    ul.social.social--footer
                        li.social__item
                            a.social__link.social__link--fb(href='https://www.facebook.com/Slast-1191882437603657/', target='_blank')
                            .sr-only Facebook
                        li.social__item
                            a.social__link.social__link--ig(href='https://www.instagram.com/slast.bar/', target='_blank')
                            .sr-only Instagram
            img.slast(data-src='./img/slast-footer.gif', alt='Slast', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            .align-center.footer__wrapper
                span.footer__text Slast s.r.o., Brno IČO 07219911 / Zelný trh 293/10, Brno-město, PSČ 602 00 / IČO 06177786 / C 106947 vedená u Krajského soudu v Brně 
                a.footer__link(href='https://www.kentico.com', title='Kentico', rel='nofollow', target='_blank') Powered by Kentico CMS

