extends includes/layout.pug
block content
    main(id='main')
        nav.navigation#navigation
            .navigation__logo
                img(src='./img/logo2020.png', alt='Slast')
            a(href='#nav').navigation__trigger 
                .sr-only Menu
            ul.navigation__list#nav
                li.navigation__logo-inner
                    img(src='./img/logo-black.png', alt='Slast')
                    span.navigation__close#nav-close
                        .sr-only Zavřít
                li.navigation__item
                    a(href='#koktejl').navigation__link koktejl
                li.navigation__item
                    a(href='#farec').navigation__link farec
                li.navigation__item
                    a(href='#art').navigation__link art
                li.navigation__social
                    ul.social.social--nav.align-center
                        li.social__item
                            a.social__link.social__link--fb(href='https://www.facebook.com/Slast-1191882437603657/', target='_blank')
                            .sr-only Facebook
                        li.social__item
                            a.social__link.social__link--ig(href='https://www.instagram.com/slast.bar/', target='_blank')
                            .sr-only Instagram
        section.heading
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1.grid__unit--sm-2-5.grid__unit--md-1-2
                        img(data-src='./img/neon.jpg', alt='Vstup do Slasti', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==").heading__img
                    .grid__unit.grid__unit--1.grid__unit--sm-3-5.grid__unit--md-1-2.utilities-layer-3
                        .heading__wrapper
                            h1.heading__title 
                                span.heading__title-positioned Svoboda je
                                span.sr-only Slast
                            p.heading__paragraph
                                | Nestačí si něco užívat – člověk musí být zaplavený rozkoší až po uši, aby tomu začal říkal 
                                i „slast”
                                | . Slast totiž není jen tak obyčejný pocit.
                                br
                                | A přesně o to nám jde. O komplexní zážitek. Slast není jen farec, Slast není jen koktejl, nebo art. Slast je tohle všechno dohromady. Farce na míru každému a párované drinky k tomu, 
                                i „bottle” 
                                | service pro větší skupiny, art jako doplněk k vychytaným parties s DJ, exotické a originální jídlo jako třešinka na gurmánském dortu. 
                                br
                                strong Nechte se hýčkat – nechte se zaplavit Slastí!
                            .grid__wrapper.grid__wrapper--inner
                                .grid__unit.grid__unit--1.grid__unit--sm-2-3
                                    .heading__note-wrapper
                                        a(href='https://www.google.cz/maps/place/Zeln%C3%BD+trh+293%2F10,+602+00+Brno-st%C5%99ed-Brno-m%C4%9Bsto/@49.1920769,16.6055518,17z/data=!3m1!4b1!4m5!3m4!1s0x47129456b40d075d:0x14b17b7c66cefe9b!8m2!3d49.1920769!4d16.6077405', target='_blank').heading__note-link Zelný trh 10
                                        a(href='tel:+420773797540').heading__note-link tel. číslo 773 797 540
                                        p.heading__note.heading__note--top-space Máme otevřeno každý den
                                        p.heading__note od 16.00 do 1.00
                                        p.heading__note pátek a sobota do 2.00
                                        a(href='/rezervace', target='_blank').heading__note-btn Rezervace
                                .grid__unit.grid__unit--1.grid__unit--sm-1-3
                                    ul.social
                                        li.social__item.social__item--heading
                                            a.social__link.social__link--fb(href='https://www.facebook.com/Slast-1191882437603657/', target='_blank')
                                            .sr-only Facebook
                                        li.social__item.social__item--heading
                                            a.social__link.social__link--ig(href='https://www.instagram.com/slast.bar/', target='_blank')
                                            .sr-only Instagram
        section.content#koktejl
            .grid
                .grid__wrapper.flex-switch
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2
                        .content__wrapper
                            h2.content__h2 koktejl
                            h3.content__h3 Na naše koktejly jsme patřičně hrdí – jsou to opravdové superstars.
                            p.content__paragraph.content__paragraph--narrow
                                | Zároveň věříme, že nejlíp vyzní jako součást týmové hry. Milujeme párování drinků s různými farci a jsme schopní zářidit jakýkoli typ chuťového zážitku si přejete, nebojte se nás zeptat. A pokud zrovna slavíte a nejste na to sami, zkuste naše farec&bottled cocktail servisy – ideální párty sady, doladěné do nejmenších detailů.
                            ul.selection(data-selection='koktejl')
                                li.selection__item
                                    a(href='#koktejly').selection__link Koktejly
                                li.selection__item
                                    a(href='#nealko').selection__link Nealko
                                li.selection__item
                                    a(href='#panaky-pivo-vino').selection__link Panáky &amp; Pivo &amp; Víno
                                li.selection__item
                                    a(href='#jidlo').selection__link Slastné jídlo
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.relative
                        .content__img.content__img--koktejl
                            img(data-src='./img/drinky.jpg', alt='Drinky', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        section.selected(data-selected='koktejl')
            span.selected__close
                .sr-only Zavřít
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        .selected__content#koktejly
                            h4.selected__heading.selected__heading--small K farcům softovým, svěžím a nekomplikovaným
                            ul.selected__list
                                li.selected__item
                                    i Good nighT kitty
                                    span Gin s tonikem z ananasové chatrče. Popinka na dobrou noc! 
                                li.selected__item
                                    i Madonin (sezónní) plápolák
                                    span Hříšná kombinace třešní, citrónu a třtiny. Zaručené vzrušení!
                                li.selected__item
                                    i Pedro Valderon de la Barca
                                    span Rooibosový mystik věštící z manga. Osudové setkání!
                                li.selected__item
                                    i Střecha světa 
                                    span Bylinná výprava na hořký masiv. Duchovní zážitek!
                                li.selected__item
                                    i Pražská kavárna
                                    span Espressotonik jak od babičky z Prahy. Zaručeně vystřelí z trenek!

                            h4.selected__heading.selected__heading--small K farcům těžším, zajímavým, kořeněným
                            ul.selected__list
                                li.selected__item
                                    i Tvoje máma
                                    span Máma s dredy vonící kokosovým mlékem, stále svěží a milá. Pozor, je i přísná!
                                li.selected__item
                                    i Richard Beer
                                    span Hořkosladký smích pivních břichů v sudech po whisky. Vlhký sen každého pivaře!
                                li.selected__item
                                    i Hořící Vilcabamba
                                    span Indiánská vatra ze suchého vína, třešní a skořicovým kouřem. Jasný signál!
                                li.selected__item
                                    i Olgoj chorchoj
                                    span Uzený červík na medu a citrónu. Latinský temperament!
                                li.selected__item
                                    i Zazvoril cogniec
                                    span Koňak se Zázvorem v pikantní pohádce pro dospělé. Zahřeje i Tam dole!

                            h4.selected__heading.selected__heading--small K farcům středním, tropickým a svěžím
                            ul.selected__list
                                li.selected__item
                                    i Koc-boule
                                    span Merlot ve vášnivém polibku s marakujou. Sexy pochutnání!
                                li.selected__item
                                    i Gimme! Limme!
                                    span Nabroušený a kyselkavě vybalancovaný gimlet. Nebezpečná záležitost!
                                li.selected__item
                                    i No honey thyme?
                                    span Bourbon na koňském dostihu, hořkosladký pot ušlechtilých hnědáků. Vsazeno na vítězství!
                                li.selected__item
                                    i Něžná litva
                                    span Květinková víla na návštěvě ve vinném sklípku. Něžný ročník!
                                li.selected__item
                                    i Barbie sour
                                    span Tělo Barbie ve vaně zakryté ovocnou pěnou. Chuťová symetrie! 

                            h4.selected__heading.selected__heading--small K farcům hutným, krémovým, netradičním
                            ul.selected__list
                                li.selected__item
                                    i Zbytek Meruňka pri káve
                                    span Meruňka pri káve zapíjená kefírem. Nutriční ohňostroj!
                                li.selected__item
                                    i Paradajk of death - naše bloodyna
                                    span Rajčatový masakr v asijském zálivu. Krvavá lázeň!
                                li.selected__item
                                    i Jogobella vrací úder
                                    span Borůvkový sorbet z té nejlepší cukrárny. Modrovousův hlad!

                        .selected__content#jidlo
                            h4.selected__heading Slastné jídlo
                            div.selected__grid-wrapper
                                p.selected__p Jídlo je nejstarším zdrojem pozemské slasti. A my ho vytahujem ještě o level výš – k naprosté nadpozemskosti! Jak jinak byste chtěli pojmenovat fenomenální olivy od kuchařského dua Carlini, ulítlou Trash Arabic Pita Pizzu, nebo teriyaki jerky, kterých se prostě nemůžete nabažit? A to jste ještě neochutnali náš popcorn&hellip; Asi není nutno dodávat, že se inspirujeme hlavně na Blízkém východě, k farcům nám to prostě sedí!
                            ul.selected__list
                                li.selected__item
                                    i Olivy Carlini
                                li.selected__item
                                    i Jerky worchester/teriyaki/chilli/mustard
                                li.selected__item
                                    i Arašídy
                                li.selected__item
                                    i Čát čapát
                                li.selected__item
                                    i Háš hommos s pitou
                                li.selected__item
                                    i Naše jogurtová pomazánka s pitou
                                li.selected__item
                                    i Arabic pita pizza
                                    span Není to pizza jak ji znáte, není to pita jak ji znáte. Je to zcela nová gastro kategorie  – TRASH ARABIC PIZZA stvořená Brnu na míru námi ve Slasti. Máme komba, která uspokojí masožrouty, vegany i vegetariány, neboť ctíme heslo – Slast pro všechny!
                        .selected__content#panaky-pivo-vino
                            h4.selected__heading Panáky &amp; Pivo &amp; víno 
                            div.selected__grid-wrapper
                                p.selected__p Co by byl lounge bar (a vlastně jakýkoli bar!) bez pořádné zásoby panáků? A pořádná zásoba pro nás znamená asi 180 lahví, takže račte vybírat. Doplňujeme excelentním pivkem Chomout, několika pečlivě vybranými vinnými záležitostmi a suchým ciderem Tátův sad.
                        .selected__content#nealko
                            h4.selected__heading Nealko
                            div.selected__grid-wrapper
                                p.selected__p Neholdujete alkoholu? Nealko ve Slasti není žádná béčková volba. Masivní výběr z barmanské limonády Zázračná, která se může honosit těmi nejzajímavějšími příchutěmi široko daleko, doplňují naše vlastní shruby a fermentáty.
                            ul.selected__list
                                li.selected__item
                                    i Shrubové limonády
                                    ul
                                        li kokos - kardamom
                                        li banán - muškát
                                        li liči - ibiček
                                li.selected__item
                                    i Fermentáty
                                    span Zeptejte se nás, co jsme pro vás nafermentovali dnes!
                                li.selected__item
                                    i Zázračná
                                    span Brněnský pití z Brna
                                li.selected__item
                                    i Čaje
                                    span V naší nabídce máme čaje z celého světa a navíc i náš vlastní mix světoznámého čaje Touareg.
                                li.selected__item
                                    i Káva
                                    span Filtrovaná káva na takové to slastné popíjení.
        section.content.content--farec#farec
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.grid__unit--xl-1-4
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.align-center
                        .content__wrapper
                            img.content__img.content__img--dymka(data-src='./img/dymka.jpg', alt='Ultimátní pohovění', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                            .content__layer
                                h2.content__h2 farec
                                h3.content__h3 Guilty pleasure v elegantním balení.
                                p.content__paragraph Nevěříme, že slast z vonného kouře patří jenom hrstce zasvěcených, ale stejně tak nás nebaví ušmudlané dýmky z roku raz dva. Farcový zážitek ve Slasti je jako symfonie, složená z nejlepších dýmek na trhu, širokého spektra prémiových tabáků a ovocných korunek a hlavně – dirigovaná přímo pro vás. Naši farcaři totiž za vaši slast ručí svým vlastním dýmkařským srdcem!
                                ul.selection.selection--center(data-selection='farec')
                                    li.selection__item
                                        a(href='#ukazfarec').selection__link Drink &amp; Dým
        section.selected(data-selected='farec')
            span.selected__close
                .sr-only Zavřít
            .grid
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        .selected__content.selected__content--desc#ukazfarec
                            h4.selected__heading farec
                            div.selected__grid-wrapper
                                p.selected__p Nenechávejte si své rozkoše jen pro sebe a zkuste party vychytávku, jaká nemá obdoby – lahvované verze těch nejvíc top koktejlů z minulého menu a přímo k nim na míru ušitý farec. Se kbelíkem ledu a nealkem navíc si postavíte váš ideální koktejl stejně snadno jako lego. A zábavy si užijete ještě třikrát víc.
                            ul.selected__list
                                li.selected__item
                                    i Tropical Storm of Monkey Farecpairing
                                    ul
                                        li 5 porcí drinku Banana Guerilla
                                        li Zázračná Woody soda
                                        li banánové bonbónky
                                        li farec tropických chutí, jemně krémový a kořeněný, ovocný
                                li.selected__item
                                    i Rastafarciana Coke Session Farecpairing
                                    ul
                                        li pět porcí drinku Just another morning coke
                                        li Zázračná Kola
                                        li limetky a grepy
                                        li farec citrusových chutí, s kolovou příchutí a citrusovou korunkou
        section.content.content--art#art
            .grid
                .grid__wrapper.flex-switch
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.grid__unit--md-2-5
                        .content__wrapper
                            h2.content__h2 art
                            h3.content__h3 Nekonečno inspirace s sebou.
                            p.content__paragraph Dobré pití je fajn, stejně jako super farec, ale to, co je okolo, je podle nás stejně důležité. Proto jsme svěřili každou z šesti místností jinému umělci, aby jí dodal jedinečnou podobu. Jediné zadání bylo: žádné překážky! A to nejlepší na konec? Náš art je na prodej, takže na nic nečekejte a pořiďte si domů svůj svůj kus slastného umění!
                            ul.selection(data-selection='art')
                                li.selection__item
                                    a(href='/art').selection__link.selection__link--page Aktuální Slastné výstavy
                    .grid__unit.grid__unit--1.grid__unit--sm-1-2.grid__unit--md-3-5
                        .content__img.content__img--andrej
                            img(data-src='./img/art.jpg', alt='Andrej', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
        footer.footer
            .grid.grid--footer
                .grid__wrapper
                    .grid__unit.grid__unit--1
                        ul.logos     
                            li.logos__item
                                a.logos__link.logos__link--bar(href='http://www.barkteryneexistuje.cz/', target='_blank')
                                .sr-only Bar, který neexistuje
                            li.logos__item
                                a.logos__link.logos__link--zazracna(href='https://www.zazracna.cz/', target='_blank')
                                .sr-only Zázračná
                            li.logos__item
                                a.logos__link.logos__link--panda(href='http://superpandacircus.cz/', target='_blank')
                                .sr-only Super panda circus
                            li.logos__item
                                a.logos__link.logos__link--uplne-vsude(href='http://uplnevsude.cz/', target='_blank')
                                .sr-only Úplně všude
                            li.logos__item
                                a.logos__link.logos__link--nepiju-brecky(href='http://www.nepijubrecky.cz/', target='_blank')
                                .sr-only Nepiju břečky
                            li.logos__item
                                a.logos__link.logos__link--na-brno-dobry(href='https://www.instagram.com/na_brno_dobry/', target='_blank')
                                .sr-only Na Brno dobrý
                            li.logos__item
                                a.logos__link.logos__link--mluvici-hlavy(href='https://www.mluvicihlavy.cz/', target='_blank')
                                .sr-only Mluvící hlavy
                            li.logos__item
                                a.logos__link.logos__link--turbomost(href='https://www.turbomost.cz/', target='_blank')
                                .sr-only Turbomošt        
                            li.logos__item
                                a.logos__link.logos__link--lidi(href='https://lidizbaru.cz/', target='_blank')
                                .sr-only Lidi z baru
                            li.logos__item
                                a.logos__link.logos__link--pokoje(href='https://www.miluju4pokoje.cz/', target='_blank')
                                .sr-only 4pokoje
                            li.logos__item
                                a.logos__link.logos__link--whiskey(href='https://www.facebook.com/whiskey.bar.kteryneexistuje/', target='_blank')
                                .sr-only Whiskey Bar, který neexistuje
            .grid__wrapper
                .grid__unit.grid__unit--1.grid__unit.grid__unit--sm-1-3
                    img.footer__logo(data-src='./img/logo-red.png', alt='Slast', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
                .grid__unit.grid__unit--1.grid__unit.grid__unit--sm-2-3
                    ul.navigation__list.navigation__list--footer
                        li.navigation__item
                            a(href='#koktejl').navigation__link koktejl
                        li.navigation__item
                            a(href='#farec').navigation__link farec
                        li.navigation__item
                            a(href='#art').navigation__link art
                    ul.social.social--footer
                        li.social__item
                            a.social__link.social__link--fb(href='https://www.facebook.com/Slast-1191882437603657/', target='_blank')
                            .sr-only Facebook
                        li.social__item
                            a.social__link.social__link--ig(href='https://www.instagram.com/slast.bar/', target='_blank')
                            .sr-only Instagram
            img.slast(data-src='./img/slast-footer.gif', alt='Slast', src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            .align-center.footer__wrapper
                span.footer__text Slast s.r.o., Brno IČO 07219911 / Zelný trh 293/10, Brno-město, PSČ 602 00 / IČO 06177786 / C 106947 vedená u Krajského soudu v Brně 
                a.footer__link(href='https://www.kentico.com', title='Kentico', rel='nofollow', target='_blank') Powered by Kentico CMS

