body {
  font-family: "Greta Sans", sans-serif;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

a {
  color: #ff3500;
  text-decoration: none;
  transition: all 0.2s;
  
  &:hover {
    text-decoration: underline;
  }
}

em,
i {
  font-style: italic;
}

[href="#main"] {
  position: absolute;
  top: 0;
  right: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.img,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.relative {
  position: relative;
}

p {
  font-size: 16px;
  line-height: 1.5em;
}

.align-left {
  text-align: left !important;
}

strong {
  font-weight: bold;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
  & > [class*="grid__unit"] {
    margin: 0 auto;
  }
}

.pipe {
  width: 100%;
  position: relative;
  top: -8px;
  z-index: 5;
  margin: 0 auto;
}

.slast {
  margin: 0 auto;

  @media (min-width: 1024px) {
    margin: 32px auto 0;
  }
}

.flex-switch {
  @media (max-width: 567px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

img[data-src] {
  opacity: 0;
}

img[data-src][data-opacity="full"] {
  opacity: 1;
  transition: opacity 0.5s;
}

img[data-src][data-opacity="half"] {
  opacity: .5;
  transition: opacity 0.5s;
}

main {
  overflow-x: hidden;
}

.utilities-layer-3 {
  position: relative;
  z-index: 3;
}

.hide {
  display: none;
}