.footer {
    padding: 2rem 0 1rem;

    @media screen and (min-width: 480px) {
        padding: 3rem 0 2rem;
    }

    &__note {
        text-align: center;
        font-family: "Greta Sans", serif;
    }
}