.footer {
    padding: 0;
    position: relative;

    @media (min-width: 1024px) {
        margin: 32px 0 0;
    }

    &__note {
        text-align: center;
        font-family: "Greta Sans", serif;
    }

    &__wrapper {
        padding: 12px 16px;

        @media (min-width: 1180px) {
            bottom: 60px;
            position: absolute;
            left: 16px;
            right: 16px;
            padding: 0;
        }
    }
    
    &__link {
        color: #606060;
        display: block;
        font-size: 14px;
    }
    
    &__text {
        color: #ccc;
        display: block;
        font-size: 14px;
        line-height: 1.25em;
    }

    &__logo {
        width: 160px;
        margin: 16px auto 24px;

        @media (min-width: 568px) {
            width: 220px;
            margin-left: 6%;
        }
    }

    &__art {
        width: 100%;
        text-align: center;
        margin: 2em 0;

        @media (min-width: 768px) {   
            position: absolute;
            right: 0;
            left: 0;
            top: 4em;
            margin: 0;
        }

        .footer__logo {
            margin: 16px auto 24px;
        }

        a {
            font-size: 1.125em;
            color: #fff;
            font-family: 'Greta Sans Ext', sans-serif;
            font-weight: 900;
            text-decoration: underline;

            &:hover {
                text-decoration: none;  
            }
        }
    }
}