.heading {
    
    &__img {
        position: relative;
        left: -14%;
        width: 135%;
        max-width: none;
	}

	&__title {
        position: relative;
        background-image: url('../img/slast-heading.gif');
        background-repeat: no-repeat;
        background-size: contain; 
        width: 100%;
        padding-bottom: 33%;


        &-positioned {
            position: absolute;
            color: #ff3500;
            font-family: 'Greta Sans Ext', sans-serif;
            font-weight: 900;
            font-style: italic;
            font-size: 32px;
            top: 18px;
            left: 37%;
        }  
	}

	&__paragraph {
        position: relative;
        padding: 16px 0;

        strong {
            font-family: 'Greta Sans', sans-serif;
            font-weight: 900;
            font-style: italic;
            color: #ff3500;
        }

        i {
            font-family: 'Greta Sans', sans-serif;
            font-weight: normal;
            font-style: italic;
        }
    }

    &__note {
        position: relative;
        font-family: 'Greta Sans Ext', sans-serif;
        font-weight: normal;
        font-style: italic;
        color: #ff3500;

        &-link {
            position: relative;
            font-family: 'Greta Sans Ext', sans-serif;
            font-weight: 900;
            font-style: italic;
            color: #fff;

            &:hover,
            &:active,
            &:focus {
                color: #ff3500;
                text-decoration: none;
            }
        }
    }

    &__wrapper {
        padding: 210px 0 0 48px;
    }
}