.social {
    text-align: right;

    &__item {
        padding: 4px 0 0;
        display: inline-block;
        margin: 0 6px;

        &:first-child {
            margin: 0 6px 0 0;
        }
    }
  
    &__link {
        background-image:  url('../img/social.png');
        display: block;
        width: 62px;
        height: 62px;
        background-size: auto 62px;
        opacity: .8;

        &:hover,
        &:active,
        &:focus {
            opacity: 1;
        }

      &--fb {
        
      }
  
      &--ig {
        background-position: 62px 0;
      }
  
    }
  
  }