.social {
    text-align: right;
    padding: 8px 0 0; 

    @media (min-width: 568px) {
        padding: 0; 
    }

    &__item {
        padding: 4px 0 0;
        display: inline-block;
        margin: 0 6px;

        &:first-child {
            margin: 0 6px 0 0;
        }

        &:last-child {
            margin: 0 0 0 6px;
        }
    }

    &--footer {
        padding-right: 0;
        text-align: center;

        @media (min-width: 568px) {
            text-align: right;
            padding-right: 2%;
        }
    }

    &--nav {
        margin: 9% 0 0;

        .social__link {
            background-image:  url('../img/social-nav.png'); 
            opacity: 1;
        }
    }
  
    &__link {
        background-image:  url('../img/social.png');
        display: block;
        width: 44px;
        height: 44px;
        background-size: auto 44px;
        opacity: .8;

        @media (min-width: 1024px) {
            width: 62px;
            height: 62px;
            background-size: auto 62px;
        }

        &:hover,
        &:active,
        &:focus {
            opacity: 1;
        }

      &--fb {
        
      }
  
      &--ig {
        background-position: 44px 0;

        @media (min-width: 1024px) {
            background-position: 62px 0;
        }
      }
  
    }
  
  }